<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img src="../assets/icone.png" width="30" height="30" class="d-inline-block align-top" alt="">
    NotificationApp
  </a>
</nav>
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Novo pedido de amizade!</h5>
      <small>25/11/2022</small>
    </div>
    <p class="mb-1">Uma pessoa te mandou um pedido de amizade!</p>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Curtida!</h5>
      <small>24/11/2022</small>
    </div>
    <p class="mb-1">Sua postagem foi curtida</p>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Novo comentário!</h5>
      <small>24/11/2022</small>
    </div>
    <p class="mb-1">Sua postagem recebeu um novo comentário</p>
  </a>
</div>
<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Início</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Sobre</a></li>
    </ul>
    <p class="text-center text-muted">
      Copyright © 2022 alunos.devinhouse.
    </p>
  </footer>
</div>