<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <hr>
    <div th:each = "produto : ${produtos}">
        <h1 th:text="${produto.nome}"></h1>
        <p th:text="${produto.descricao}"></p>
        <h3 th:text="${produto.dtLancamento}"></h3>
        <h2 th:text="'R$'+${produto.preco}"></h2>
        <hr>
    </div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sair"/>
    </form>

</body>
</html>