<br>
<ntap-button-group (evento)="clickFiltro($event)"></ntap-button-group>
<div class="list-group" >
  <a class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let notificacao of notificacoes" [ngClass]="notificacao.lido?'lido':'naoLido'">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{notificacao.titulo}}</h5>
      <small>{{notificacao.data.getDate()}}/{{notificacao.data.getMonth()}}/{{notificacao.data.getFullYear()}}</small>
    </div>
    <p class="mb-1">{{notificacao.subtitulo}}</p>
    <button type="button" class="btn btn-outline-danger" (click)="notificacaoLida(notificacao)">{{notificacao.lido?'Lido':'Não lido'}}</button>
  </a>
</div>